input[type="submit"] {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    background-color: #555;
    color: white;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #555;
}